.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(../images/intro-bg.jpg) no-repeat bottom center scroll;
    background-color: #333;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro-body {
    display: table-cell;
    vertical-align: middle;
}

.brand-heading {
    font-size: 38px;
    // background-color: rgba(0,0,0,0.3);
    display: inline-block;
    padding: 10px 30px;
}

.intro-text {
    font-size: 18px;
    // background-color: rgba(0,0,0,0.3);
    display: inline-block;
    padding: 10px 30px;
}

.content-section {
    padding: 50px 0;
    text-align: center;
}

.how {
    background-color: #F4F4F4;
    padding: 40px 0px;
    border: 1px solid #999;
    margin-left: -10px;
    margin-right: -10px;
    color: #333;

    .fa-stack {
        display: block;
        font-size: 5em;
        color: #e67e22;
        margin: 20px auto;
        text-align: center;
    }

    p {
        text-align: center;
        font-size: 16px;
    }
}

.why {
    margin: 20px auto;
    span {
        font-size: 20px;
    }
}
