//
// Chat messages
//

.message-box {
    position: relative;
    border: 1px solid #999;
}

.message-header {
    padding: 10px;
    background-color: #95a5a6;

    h2 {
        color: #fff;
        font-size: 1.2em;
        margin: 0;
    }
}

.message-list {
    height: 470px;
    padding: 20px 10px;
    overflow-y:scroll;
}

.message-text {
    min-height: 60px;
    width: 100%;
    position: absolute;
    border: 1px solid #999;
    color: #555;
}
