//
// Video

.video-container {
    text-align: center;
    position: relative;

    .connection-progress {
        position: absolute;
        top: 25%;
        left: 40%;
        font-size: 2em;
    }
}

#my-video {
  margin-top: 15px;
  width: 280px;
  height: auto;
  background-color: #eee;
}

#their-video {
  width: 100%;
  height: 75%;
  max-height: 430px;
  background-color: #eee;
}

#video-container {
  padding: 25px;
  text-align: center;
}

#step1-error, #step2, #step3 {
  display: none;
}

#my-id {
  font-weight: bold;
}


