<div class="container">
    <div class="row">
        <div class="col-md-8 col-sm-8">
            <!-- Video area -->
            <div class="video-container">
                <span ng-show="connecting" class="connection-progress"><i class="fa fa-spinner fa-spin"></i> Connecting...</span>
                <!-- <span ng-hide="connecting" class="connection-progress">No connection! Please share the link.</span> -->
                <video id="their-video" autoplay=""></video>
                <video id="my-video" muted="true" autoplay=""></video>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div ng-include="'scripts/views/chats/show.html'"></div>
        </div>
    </div>

</div>