<section class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Pesu - Facetime on browser</h1>
                    <p class="intro-text">
                    Pesu is a peer to peer secured communication infrastructure best fitted for
                    companies to communicate with their end customers
                    </p>
                    <div class="page-scroll">
                        <a  href="#/app" class="btn btn-default btn-lg" ng-click="login()"><i class="fa fa-video-camera fa-fw"></i> <span class="network-name">Start</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="why" class="content-section">
    <div class="container">
        <div class="row">
            <h2>Why?</h2>
            <div class="col-sm-4">
                No Plugin. No Download. Use your Browser.
            </div>
            <div class="col-sm-4">
                Peer to peer communication without login
            </div>
            <div class="col-sm-4">
                Hassle free Audio/Video chat
            </div>
        </div>
    </div>
</section>

<section id="how" class="content-section how">
    <div class="container">
        <div class="row">
            <h2 class="text-center">How?</h2>
            <div class="col-sm-4">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-copy fa-stack-1x fa-inverse"></i>
                </span>
                <p>Step 1 - Copy</p>
            </div>
            <div class="col-sm-4">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-paste fa-stack-1x fa-inverse"></i>
                </span>
                <p>Step 2 - Paste</p>
            </div>
            <div class="col-sm-4">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-video-camera fa-stack-1x fa-inverse"></i>
                </span>
                <p>Step 3 - Video Chat</p>
            </div>
        </div>
    </div>
</section>

<section id="who" class="content-section who">
    <div class="container">
        <div class="row">
            <h2>who?</h2>
            <div class="col-lg-8 col-lg-offset-2">
                <p>We are Chennai Nerd.</p>
            </div>
        </div>
    </div>
</section>